* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.clear {
  clear: both;
}

nav {
  background: rgb(196, 58, 58);
  color: white;
}


nav h1 {
  float: left;
  font-size: 2.8rem;
  margin: 3rem;.
}

nav a {
  float: right;
  font-size: 2rem;
  margin: 3rem;
  text-decoration: none;
  color: white;
}

