* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

h2 {
  font-size: 10px;
}

body {
  background: #292d3e;
  color: white;
  font-family: "Dosis", sans-serif;
  height: 1000px;
  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 70px auto;
}

header {
  text-align: center;
  padding: 0.7rem 0rem;
  width: 100%;
  background-color: #00818a;
  border: solid 2px white;
  transition: 0.5s ease-out;
  height: 70px;
  grid-column: 1 / span 2;
  position: fixed;
}

header h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Dosis", sans-serif;
}

menu {
  margin-top: 10rem;
  font-size: 10px;
  position: fixed;
}

menu ul {
  text-align: center;
  list-style: none;
  text-transform: capitalize;
}

menu ul li {
  line-height: 70px;
  position: relative;
  width: 70px;
  height: 70px;
  cursor: pointer;
  background: #00818a;
  text-transform: uppercase;
  transition: all 0.4s ease-out;
  border: solid 2px white;
  margin: 1px 0px;
}

menu ul li::after {
  position: absolute;
  background: white;
  color: #00818a;
  top: 0;
  left: 70px;
  width: 63px;
  height: 63px;
  transform: rotateY(90deg);
  transform-origin: 0 100%;
  transition: all 0.4s ease-out;
  border: solid 2px #00818a;
}

#about-me-button::after {
  content: "about me";
  line-height: 65px;
}
#experience-button::after {
  content: "experience";
  line-height: 65px;
}
#projects-button::after {
  content: "projects";
  line-height: 65px;
}
#contact-button::after {
  content: "say hi!";
  line-height: 65px;
}

menu ul li:hover {
  transform: translateX(-70px);
}

menu ul li:hover:after {
  opacity: 1;
  transform: perspective(400px) rotateY(0deg) scale(1);
}

menu img {
  width: 30px;
  height: 30px;
  margin: 17px;
}

article {
  color: white;
  margin: 5%;
  grid-column: 2;
  grid-row: 2;
}

article h2 {
  font-size: 2rem;
}

article .experience-display {
  border: solid 2px white;
}
